.first-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/assets/Path 13.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .first-section-title{
        text-align: center;
        margin: 60px 0;
        font-weight: 500;
        font-size: 50px;
        color: #404041;

        
      @include media(large) {
        font-size: 40px;
      }

      @include media(medium) {
        font-size: 30px;
      }
    }

    img{
        height: 500px;
        object-fit: cover;
        position: relative;
    }

    .first-section-cards{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 200px;
        z-index: 1;
        margin-top: 100px;

        @include media(xxlarge) {
            padding: 5px 100px;
          }
        @include media(xlarge) {
            padding: 5px 25px;
          }
        @include media(large) {
            flex-wrap: wrap;
            margin-top: 20px;

            & > * {
                flex: 1 1 400px;    
            }
          }
        @include media(medium) {
            padding: 5px;
          }


        .first-section-card{
            position: relative;
            width: 100%;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-radius: 10px;
            margin: 5px;
            background-color: #fff;
            background-clip: padding-box;
            border:3px solid transparent; 

            @include media(medium) {
                width: 60%;
            }


            &:before {
                content: '';
                box-sizing: content-box;
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                z-index: -1;
                margin: -3px;
                z-index: -1;
                border-radius: inherit;
                background: linear-gradient(90deg, rgba(250,212,229,1) 0%, rgba(250,212,229,1) 16%, rgba(157,204,238,1) 100%);
              }

            img{
                position: absolute;
                width: 295px;
                height: 295px;
                object-fit: cover;
                top: -100%;
                left: 50%;
                transform: translate(-50%,100%);

                @include media(large) {
                    width: 150px;
                    height: 150px;
                    top: -30%;
                    left: 50%;
                    transform: translate(-50%,30%);
                  }
            }

            .first-section-card-text{
                width: 100%;
                max-height: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 150px;

                h5{
                    text-align: center;
                    font-weight: 400;
                    font-size: 24px;
                }
                
                ul{
                    li{
                        list-style: none;
                        margin-left: 50px;
                    }
                }
            }
        }
    }
}

/* charts */
.chart-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;

  .chart-wrapper{
    width: 300px;
    height: 300px;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    h5{
      font-size: 30px;
      color: #9DCCEE;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}

.no-tokens{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #404041;
  text-align: center;
  margin: 50px 0;

  h5{
    font-size: 25px;
    margin-bottom: 25px;
  }

  p{
    font-size: 16px;
    margin-bottom: 25px;
  }



  @include media(xxlarge) {
      padding: 5px 100px;
    }
  @include media(xlarge) {
      padding: 5px 25px;
    }
  @include media(large) {
      flex-direction: column;
    }
  @include media(medium) {
      padding: 5px;
    }
}

.stats-sections{
  width: 100%;
  height: 100%;
  min-height: 515px;
  background-image: url('../assets/stats.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  
  h4{
    font-size: 73px;
    text-align: center;
  }
}

.stats-charts{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 200px;
  margin: 50px 0;

  @include media(xxlarge) {
      padding: 5px 100px;
    }
  @include media(xlarge) {
      padding: 5px 25px;
      flex-wrap: wrap;
    }
  @include media(medium) {
      padding: 5px;
    }

  &-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(xlarge) {
      margin-top: 30px;
    }

    canvas{
      width: 600px !important;
      height: 600px !important;

      @include media(small) {
        width: 100% !important;
        height: 100% !important;
      }
  
    }

    p{
      text-align: center;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.stats-datatable{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 200px;
  overflow-x: auto;
  margin: 50px 0;

  @include media(xxlarge) {
      padding: 5px 100px;
    }
  @include media(xlarge) {
      padding: 5px 25px;
    }
  @include media(medium) {
      padding: 5px;
    }

  h6{
    font-size: 35px;
    margin-bottom: 40px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;

    td, th {
      text-align: left;
      padding: 8px;
      min-width: 100px;
      max-width: 150px;
      width: 100px;

      .profile{
        display: flex;
        align-items: center;

        img{
          width: 38px;
          height: 38px;
          object-fit: cover;
        }

        .text{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          
          h6{
            font-size: 15px;
            font-weight: 300;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0px;
          }

          p{
            color: #8E8E8E;
            font-size: 9px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}