.first-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/assets/Path 13.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 350px;


    @include media(large) {
      max-height: 100%;
    }

    .first-section-title{
        max-width: 1400px;
        text-align: center;
        margin: 60px 0;
        font-weight: 500;
        font-size: 50px;
        color: #404041;

        
      @include media(large) {
        font-size: 40px;
      }

      @include media(medium) {
        font-size: 30px;
      }
    }

    img{
        height: 500px;
        object-fit: cover;
        position: relative;
    }

    .first-section-cards{
        max-width: 1400px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px ;
        z-index: 1;
        margin-top: 100px;

        @include media(xxlarge) {
            padding: 5px ;
          }
        @include media(xlarge) {
            padding: 5px 25px;
          }
        @include media(large) {
            flex-wrap: wrap;
            margin-top: 20px;

            & > * {
                flex: 1 1 400px;    
            }
          }
        @include media(medium) {
            padding: 5px;
          }


        .first-section-card{
            max-width: 1400px;
            position: relative;
            width: 100%;
            height: 430px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-radius: 10px;
            margin: 5px;
            background-color: #fff;
            background-clip: padding-box;
            border:3px solid transparent; 

            @include media(large) {
                height: 400px;
            }
            @include media(medium) {
                width: 60%;
            }


            &:before {
                content: '';
                box-sizing: content-box;
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                z-index: -1;
                margin: -3px;
                z-index: -1;
                border-radius: inherit;
                box-shadow: 0px 0px 22px 5px rgba(157,204,238,1);
                background: linear-gradient(90deg, rgba(250,212,229,1) 0%, rgba(250,212,229,1) 16%, rgba(157,204,238,1) 100%);
              }

            img{
                position: absolute;
                width: 295px;
                height: 295px;
                object-fit: cover;
                top: -100%;
                left: 50%;
                transform: translate(-50%,100%);

                @include media(large) {
                    width: 150px;
                    height: 150px;
                    top: -30%;
                    left: 50%;
                    transform: translate(-50%,30%);
                  }
            }

            .first-section-card-text{
                max-width: 1400px;
                width: 100%;
                max-height: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 150px;

                @include media(large) {
                  margin-top: 100px;
              }

                h5{
                    text-align: center;
                    font-weight: 400;
                    font-size: 24px;
                    margin: 30px;
                }
                
                ul{

                  @include media(large) {
                    max-width: 70%;
                    margin: 0 auto;
                  }
                  @include media(small) {
                    max-width: 100%;
                    margin: 0 auto;
                  }
                    li{
                        list-style: none;
                        margin-left: 50px;

                    }
                }
            }
        }
    }
}

/* charts */
.chart-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  max-width: 1400px;

  .chart-wrapper{
    width: 300px;
    height: 300px;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    h5{
      font-size: 30px;
      color: #9DCCEE;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}

.no-tokens{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #404041;
  text-align: center;
  margin: 50px auto;
  max-width: 1400px;


  h5{
    font-size: 25px;
    margin-bottom: 25px;
  }

  p{
    font-size: 16px;
    margin-bottom: 25px;
  }

  .last{
    margin-top: 55px;
    margin-bottom: 0;
  }

  img{
    width: 50px;
    height: 50px;
  }



  @include media(xxlarge) {
      padding: 5px 100px;
    }
  @include media(xlarge) {
      padding: 5px 25px;
    }
  @include media(large) {
      flex-direction: column;
    }
  @include media(medium) {
      padding: 5px;
    }
}

.stats-sections{
  width: 100%;
  height: 100%;
  min-height: 515px;
  background-image: url('../assets/stats.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  
  h4{
    max-width: 1400px;
    font-size: 73px;
    text-align: center;
  }
}

.stats-charts{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 200px;
  margin: 50px auto;
  max-width: 1400px;

  @include media(xxlarge) {
      padding: 5px 100px;
    }
  @include media(xlarge) {
      padding: 5px 25px;
      flex-wrap: wrap;
    }
  @include media(medium) {
      padding: 5px;
    }

  &-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(xlarge) {
      margin-top: 30px;
    }

    canvas{
      width: 600px !important;
      height: 600px !important;

      @include media(small) {
        width: 100% !important;
        height: 100% !important;
      }
  
    }

    p{
      text-align: center;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.stats-datatable-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px auto;
  max-width: 1400px;

  .stats-datatable-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px ;

    .per-page{
      display: flex;
      align-items: center;
      justify-content: center;

      .flex-1{
        display: flex;
        align-items: center;
        justify-content: flex-start;
  
      
        h6{
          font-size: 17px;
          width: 80px;
          font-weight: 700;
        }

      select{
        width: 40px;
        border: 1px solid #A6CBEB;
        border-radius: 5px;
        height: 30px;
        width: 40px;
        min-width: 40px;
      }
  
      }
    }
  
    .pagination{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 10px;
      
      .flex{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        p{
          width: 30px;
          text-align: center;
          font-weight: 700;
        }

        h6{
          width: 50px;
          font-size: 17px;
          font-weight: 700;
        }
  
        button{
          background: transparent;
          border: 1px solid #A6CBEB;
          border-radius: 5px;
          height: 30px;
          width: 30px;
          min-width: 30px;
        }
      }

    }
  }

}

.stats-datatable{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px ;
  overflow-x: auto;
  margin: 50px auto 0 auto;
  max-width: 1400px;


  @include media(xxlarge) {
      padding: 5px ;
    }
  @include media(xlarge) {
      padding: 5px 25px;
    }
  @include media(medium) {
      padding: 5px;
    }

  h6{
    font-size: 35px;
    margin-bottom: 40px;
  }

  table {
    width: 100%;
    white-space: nowrap;
    max-width: 1400px;

    td{
      font-family: 'Montserrat', sans-serif !important;
    }
    td, th {
      text-align: left;
      padding: 8px;
      min-width: 200px;
      max-width: 200px;
      width: 100px;

      .profile{
        display: flex;
        align-items: center;

        img{
          width: 38px;
          height: 38px;
          object-fit: cover;
          margin-right: 10px;
        }

        .text{
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          
          h6{
            font-size: 15px;
            font-weight: 300;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 0px;
            font-family: 'Montserrat', sans-serif !important;
          }

          p{
            color: #8E8E8E;
            font-size: 9px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}

.margin-top{
  margin-top: 500px;

  @include media(large) {
    margin-top: 50px;
  }
}