.lock-history-container{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px 200px;
    margin: 50px 0;


    @include media(xxlarge) {
        padding: 5px 100px;
      }
    @include media(xlarge) {
        padding: 5px 25px;
      }
    @include media(large) {
        flex-direction: column;
      }

    @include media(medium) {
        padding: 5px;
      }

    .lock-history-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 5px;
        padding-right:5px ;
        
        h5{
            font-size: 24px;
            font-weight: 400;
            margin: 30px 0; 
        }

        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            li{
                font-weight: 500;
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                font-size: 18px;
                flex-basis: 33%;
                margin-bottom: 10px;
                

                span{
                    color: #9DCCEE;
                }
            }
        }
    }
}
