.staking-section{
    background-image: url('/assets/Path101.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 1078px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 200px;

    @include media(xxlarge) {
        padding: 5px 100px;
      }
    @include media(xlarge) {
        padding: 5px 25px;
        flex-direction: column;
      }
    @include media(medium) {
        padding: 5px;
      }

    &-first{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include media(xlarge) {
            margin: 50px 0;
          }

        h5{
            font-size: 73px;
            color: #404041;

            @include media(small) {
                font-size: 50px;
              }
        }

        p{
            background: linear-gradient(90deg, rgba(250,212,229,1) 0%, rgba(250,212,229,1) 16%, rgba(157,204,238,1) 100%);
            border: 1px solid #404041;
            padding: 10px;
            border-radius: 10px;
            margin: 20px 0;
            font-size: 18px;
        }

        .buttons{
            display: flex;
            justify-content: space-between;
            align-items: center;

            button{
                background-color: #404041;
                color: #9DCCEE;
                font-size: 18px;
                outline: none;
                border: none;
                margin: 10px;
                height: 53px;
                border-radius: 10px;
            }
        }
    }

    &-second{
        background-color: white;
        box-shadow: 0px 0px 20px 6px rgba(255,255,255,0.64);
        width: 100%;
        height: 100%;
        min-height: 877px;
        border-radius: 20px;
        margin-left: 80px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px;

        @include media(xlarge) {
            margin-left: 0px;
            margin-top: 80px;
            margin-bottom: 40px;
          }
        @include media(small) {
            padding: 35px;
          }

        &-relative{
            position: absolute;
            background: linear-gradient(90deg, rgba(250,212,229,1) 0%, rgba(250,212,229,1) 16%, rgba(157,204,238,1) 100%);
            top: -3%;
            left: 5%;
            width: 90%;
            border-radius: 20px;
            padding: 10px;
            height: 65px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;

            @include media(small) {
                width: 100%;
                left: 0;
              }

            h6{
                font-size: 18px;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;

                @include media(small) {
                    font-size: 12px;
                  }
            }

            span{
                font-size: 20px;
                width: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            p{
                font-size: 20px;
                font-weight: 400;
                display: flex;
                align-items: center;
                justify-content: center;

                @include media(small) {
                    font-size: 12px;
                  }
            }
        }

        &-content{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 10px;

            &-header{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .second{
                    text-align: end;
                }

                p{
                    font-size: 19px;
                    font-weight: 300;
                }
            }

            &-main{
                display: flex;
                align-items: center;
                justify-content: space-between;

                .first{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    p{
                        font-size: 14px;
                        color: #404041;
                    }

                    h6{
                        font-size: 19px;
                        font-weight: 300;
                    }
                }

                .second{
                    display: flex;
                    align-items: center;
                    height: 53px;

                    input{
                        background-color: #707070;
                        border-radius: 10px;
                        outline: none;
                        border: none;
                        color: white;

                        &:focus,&:focus-visible{
                            outline: none;
                            border: none;
                        }

                        &::placeholder{
                            color: #fff;
                            padding-left: 10px;
                        }
                    }

                    button{
                        background: linear-gradient(90deg, rgba(250,212,229,1) 0%, rgba(250,212,229,1) 16%, rgba(157,204,238,1) 100%);
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                        outline: none;
                        border: none;
                        margin-left: -20px;
                    }
                }
            }
        }
        
        &-footer{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            h6{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 19px;
                width: 100%;
                margin: 10px 0;
                font-weight: 300;

                span{
                    font-weight: 700;
                    text-align: end;
                }

                button{
                    background: linear-gradient(90deg, rgba(250,212,229,1) 0%, rgba(250,212,229,1) 16%, rgba(157,204,238,1) 100%);
                    border-radius: 10px;
                    outline: none;
                    border: none;
                    width: 50%;
                    height: 53px;
                }
            }
        }
    }

}

.divider{
    width: 100%;
    height: 1px;
    background-color: #404041;
    margin: 20px 0;
}

.total-locked{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 200px;
    text-align: center;
    margin: 30px 0;

    @include media(xxlarge) {
        padding: 5px 100px;
      }
    @include media(xlarge) {
        padding: 5px 25px;
      }
    @include media(medium) {
        padding: 5px;
      }

    p{
        font-size: 17px;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        align-items: center;

        span{
            font-size: 35px;
            font-weight: 400;
        }
    }

    h6{
        font-size: 50px;
        font-weight: 300;
        width: 5px;
    }
}

.staking-charts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px 200px;

    @include media(xxlarge) {
        padding: 5px 100px;
      }
    @include media(xlarge) {
        padding: 5px 25px;
      }
    @include media(medium) {
        padding: 5px;
      }

      canvas{
          height: 400px !important;
          margin:50px 0;
      }

      &-header{
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          h6{
              font-size: 35px;
              font-weight: 300;
              margin-bottom: 40px;
          }

          &-main{
              display: flex;
              align-items: center;
              justify-content: space-between;

              @include media(large) {
               flex-wrap: wrap;
              }

              .staking-divider{
                font-size: 80px;
                font-weight: 300;
                color: #404041;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: -50px;
                width: 5px;

                @include media(large) {
                    display: none;
                }
              }

              &-title{
                  text-align: center;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  font-weight: 300;
                  margin-bottom: 40px;

                  p{
                      font-size: 17px;
                  }

                  h6{
                      font-size: 35px;
                      color: #9DCCEE;
                      font-weight: 400;
                      margin-bottom: 0px;
                  }

                  span{
                      font-size: 15px;
                  }
              }
          }
      }
}