@import '_abstracts.scss';
@import '_header.scss';
@import '_footer.scss';
@import '_home.scss';
@import '_alerts.scss';
@import '_lock-history.scss';
@import '_launchpad-home.scss';
@import '_launchpad-card.scss';
@import '_launchpad.scss';
@import '_staking.scss';
@import '_project-card.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: #404041;
}

body{
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

p,li,a,button,input{
    font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6,div{
    font-family: 'İntegral';
}

@font-face {
    font-family: "İntegral";
    src: url("../font/AsimovProUltObl.otf");
    font-display: swap;
  }

